/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 0.8em;
  line-height: 1.5em;
}

a {
  color: #e2e3ed;
  text-decoration: none;
  font-style: normal;
}

li {
  font-size: 1.2em;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

figure {
  margin: 0;
}
/* -------------------- Base Header, Main and Footer Styles -------------------- */

header,
footer {
  background-color: #212423;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 65%;
}

header li {
  padding-left: 40px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- Header Styles -------------------- */
header .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.header-divider {
  border-top: 1px solid #000000;
  width: 100%;
}

.hero {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

.hero h1 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.news-intro,
.signup-form {
  width: 80%;
}

.features {
  background-image: url("../img/meal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* -------------------- Main Styles -------------------- */
main .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.newsletter {
  padding: 15px 0;
  background-color: #527159;
  width: 100%;
}

.features,
.hero h2 {
  color: #e2e4ed;
}

.features h3 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.feature-wrap {
  width: 40%;
  margin-bottom: 70px;
}

.feature-item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
.review-header,
.review-content {
  width: 80%;
}

.reviews h3 {
  width: 80%;
}

.faq .content-wrapper,
.mission .content-wrapper {
  background-color: #527159;
}

.connect .content-wrapper,
.reviews .content-wrapper {
  background-color: #2a433a;
}

aside .form {
  margin-top: 30px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type="button"] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features i {
  font-size: 3.75em;
}

.review-img {
  width: 100%;
}

.faq-header,
.faq-content {
  width: 80%;
}

.faq .content-wrapper {
  padding: 50px 0 50px 0;
}

.mission-header,
.mission-content {
  width: 80%;
}

.mission .content-wrapper {
  padding-bottom: 40px;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.connect .content-wrapper {
  padding-bottom: 40px;
}

.connect-header,
.connect-options {
  width: 80%;
}

/* -------------------- Footer Styles -------------------- */
footer .content-wrapper {
  width: 55%;
  margin: 20px;
  text-align: center;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.social i {
  font-size: 3em;
  color: #527159;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /* -------------------- Header Styles -------------------- */
  body {
    width: 100%;
  }

  header .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 30px 0;
    width: 80%;
  }

  .header-divider {
    border-top: none;
  }

  header .nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .hero {
    min-height: 600px;
  }

  /* -------------------- Main Styles -------------------- */

  main .content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .newsletter {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
  }

  .newsletter p {
    width: 40%;
  }

  .news-intro {
    width: 40%;
  }

  .signup-form {
    width: 40%;
  }

  .features h3 {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  .feature-wrap {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .feature-item {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px;
  }

  .review-header {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  .review-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 80px;
  }

  .review-img {
    width: 40%;
  }

  .testimonial {
    width: 50%;
  }

  .faq-header {
    display: flex;
    justify-content: flex-start;
  }

  .faq-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .faq-item {
    width: 40%;
    padding-right: 80px;
  }

  .mission-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .mission-header {
    width: 80%;
  }

  .mission-content {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .mission-item {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .map {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
  }

  .connect-header {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  .connect-options {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .connect-item {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  /* -------------------- Footer Styles -------------------- */
  footer .content-wrapper {
    width: 100%;
    margin: 20px;
  }
  .contact-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .copyright {
    text-align: center;
  }

  .social-icon {
    padding-left: 20px;
  }
}

/*********DESKTOP STYLES here***********/
@media only screen and (min-width: 1200px) {
  /* -------------------- Header Styles -------------------- */
  body {
    width: 100%;
  }

  /* -------------------- Main Styles -------------------- */

  .features h3 {
    padding: 30px;
  }

  .feature-item {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .testimonial {
    width: 40%;
  }

  .faq-item {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .mission-item {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .connect-item {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  /* -------------------- Footer Styles -------------------- */
  footer .content-wrapper {
    width: 100%;
    margin: 20px;
  }

  .contact-info,
  .contact-social {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
